/****************************************************************************************/
/* Client Specific Styling
/****************************************************************************************/
@import "client_variables";

body {
  color: $gray-900;
  font-family: $font-family-base;
}

/****************************************************************************************/
/* Client default colors, button colors + background colors */
/****************************************************************************************/
.has-color-white-color {
  color: $light !important;
}

.has-color-black-color {
  color: $dark !important;
}

.has-color-gray-color {
  color: $gray-900 !important;
}

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-success {
  background-color: $success;
}

.bg-info {
  background-color: $info;
}

.bg-warning {
  background-color: $warning;
}

.bg-danger {
  background-color: $danger;
}

.bg-dark {
  background-color: $dark;
}

/****************************************************************************************/
/* Client buttons */
/****************************************************************************************/
.c9 button,
.c9 .btn,
.c9 .wp-block-button__link,
.editor-styles-wrapper .btn,
.editor-styles-wrapper .wp-block-button__link {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4em;
  padding: 12px 35px;
}

.footer-search-wrapper input[type="submit"] {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  background-color: $primary;
  border-radius: 0px;
}

.btn,
.editor-styles-wrapper .button,
.editor-styles-wrapper .button-primary,
.editor-styles-wrapper .mce-content-body.button,
.c9 button,
.entry-content .btn,
.entry-content .btn:visited,
.entry-content button,
.entry-content input[type="button"],
.entry-content input[type="reset"],
.entry-content input[type="submit"],
.entry-content .button,
.entry-content .wp-block-button:not(.is-style-outline) .wp-block-button__link,
.wp-block-button__link,
.wp-block-button:not(.is-style-outline) .wp-block-button__link.mce-content-body,
.wp-block-file__button,
.wp-block-file .wp-block-file__button {
  font-family: $font-family-base;
}

.c9 button:hover,
.c9 .btn:hover,
.c9 .wp-block-button__link:hover,
.editor-styles-wrapper .button:hover,
.editor-styles-wrapper .btn:hover,
.editor-styles-wrapper .mce-content-body.button:hover,
.editor-styles-wrapper .wp-block-button__link:hover {
  opacity: 0.8;
  color: #fff;
}

/* tags */
.i-tag {
  font-size: 1.6em;
  letter-spacing: 0.137em;
}

.i-tag:before {
  display: inline;
  content: "\f02b";
  font: normal normal normal 1.4rem/1 FontAwesome;
  color: $primary;
  padding-right: 4px;
}


/****************************************************************************************/
/* Client navbar */
/****************************************************************************************/

#wrapper-navbar {
  z-index: 1020;
  background-color: $light;
}

.navbar {
  padding: 0px;
  background-color: $light;
}

.navbar-small {
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.navbar-small .navbar-brand img {
  max-height: 45px;
  width: auto;
}

.navbar-nav li a {
  text-transform: uppercase;
  line-height: 1;
  color: rgba(43, 43, 43, 0.77);
  letter-spacing: 0.05em;
}

.nav-search,
.nav-toggle {
  display: inline-block;
  line-height: 2;
}

.nav-search {
  margin-right: 10px;
}

/* drop downs */
.header-navbar .nav .nav-item .nav-link,
.header-navbar .nav .nav-item .dropdown-item {
  padding: 15px;
}

.header-navbar .nav .nav-item .dropdown-menu {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 32px;
}

@media only screen and (min-width: 1px) {
  .header-navbar {
    height: 55px;
  }

  .navbar-collapse {
    background-color: $light;
  }

  .navbar-brand img {
    width: auto;
    max-height: 45px;
    height: auto;
  }

  #page .navbar-small-mobile {
    padding-bottom: 0px;
  }

  .navbar {
    display: block;
  }

  .navbar .container .navbar-small-buttons {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .btn-nav-search,
  .navbar-toggler {
    margin: 0px;
    padding: 12px;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-brand img {
    width: 285px;
    max-height: 92px;
    height: auto;
  }

  .header-navbar {
    height: 115px;
  }

}

@media only screen and (max-width: 991px) {
  .header-navbar .nav .nav-item .dropdown-menu {
    margin-top: 0px;
    border: 1px solid transparent;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-collapse {
    background-color: transparent;
  }
}

/****************************************************************************************/
/* Client Typography */
/****************************************************************************************/
.entry-content,
.wp-block-pullquote,
.wp-block-pullquote blockquote p,
.editor-default-block-appender textarea.editor-default-block-appender__content,
#wrapper-footer {
  font-family: $font-family-base;
}

/****************************************************************************************/
/* Client page title header on logins, search, pages, posts, etc. */
/****************************************************************************************/

@media only screen and (min-width: 1px) {

  .page-template-containerwidthpage .c9 .page>.entry-header,
  .page-template-fullwidthpage .c9 .page>.entry-header {
    background-color: $primary;
  }

  .c9 .page .entry-header h1 {
    font-size: 5em;
    text-align: center;
    color: $light;
    margin: 70px auto;
    line-height: 1;
  }
}

@media only screen and (min-width: 768px) {
  .c9 .page .entry-header h1 {
    font-size: 8em;
  }
}

/****************************************************************************************/
/* Client unordered list stylings */
/****************************************************************************************/
.entry-content ul:not(.wp-block-gallery),
.entry-content ol,
.editor-styles-wrapper .editor-rich-text ol,
.editor-styles-wrapper .editor-rich-text ul:not(.wp-block-gallery) {
  line-height: 2;
}

.entry-content ol li,
.editor-styles-wrapper .editor-rich-text ol li,
.entry-content ul:not(.wp-block-gallery):not(.nav-tabs):not(.c9-share-list) li,
.editor-styles-wrapper .editor-rich-text ul:not(.wp-block-gallery):not(.nav-tabs):not(.c9-share-list) li {
  margin: 6px 0px;
}

/* horizontal rules customized*/
.entry-content .wp-block-column .wp-block-separator.is-style-wide,
.wp-block-columns .wp-block-separator.is-style-wide {
  width: 60%;
  max-width: 60%;
}

/****************************************************************************************/
/* Client Footer */
/****************************************************************************************/

#wrapper-footer-full {
  background-color: $primary;
  color: $light;
}

#wrapper-footer {
  background-color: $primary;
  color: $light;
}

#wrapper-footer-full a {
  color: $light;
}

#wrapper-footer-full a:hover {
  color: $gray-300;
}

/****************************************************************************************/
/* Client widget customizations*/
/****************************************************************************************/

/* all widgets */
.footer-widget .menu .menu-item,
.footer-widget ul li {
  font-size: 1.5em;
  line-height: 2;
  text-transform: capitalize;
  padding-left: 0px;
  margin: 0;
}

.footer-widget h3 {
  font-size: 2.4em;
  letter-spacing: 0.02em;
  line-height: 1.8;
  color: $light;
  font-weight: $font-weight-bold;
}

/****************************************************************************************/
/* Client Gravity Forms */
/****************************************************************************************/
.ginput_card_expiration_container select,
.ginput_card_expiration_container label {
  float: left;
}

.c9 .ginput_container_creditcard label,
.c9 .ginput_card_expiration_container label {
  margin-bottom: 10px !important;
}

.ginput_card_expiration_container:after {
  content: "";
  display: block;
  clear: both;
}

.c9 .gform_wrapper .field_description_below .gfield_description {
  padding-top: 0px;
}

.gform_wrapper .gsection .gfield_label,
.gform_wrapper h2.gsection_title,
.gform_wrapper h3.gform_title {
  font-size: 2em;
}

/****************************************************************************************/
/* Client Custom Blocks */
/****************************************************************************************/

/****************************************************************************************/
/* Client WooCommerce */
/****************************************************************************************/
.woocommerce-page .site-main {
  margin: 0px auto;
}

.woocommerce .site-main {
  font-size: 16px;
}

.theme-c9.woocommerce nav.woocommerce-pagination ul li span,
.theme-c9.woocommerce nav.woocommerce-pagination ul li .page-numbers {
  font-size: 16px;
}

.woocommerce ul.products li.product .onsale {
  box-sizing: content-box;
}

@media only screen and (min-width: 1200px) {
  .woocommerce-page .site-main {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 667px) {
  .woocommerce-page .site-main {
    padding: 0px 30px;
  }
}

@media only screen and (min-width: 1px) {
  .woocommerce-page .site-main {
    padding: 0px 15px;
  }
}