/****************************************************************************************/
/* Client Specific Styling
/****************************************************************************************/
@import "client_variables";

a:hover {
	color: $primary;
}

.site-main {
	-webkit-animation-duration: .38s;
	animation-duration: .38s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
}

/****************************************************************************************/
/* Client default colors, button colors + background colors */
/****************************************************************************************/

.has-color-primary-background-color {
	background-color: $primary !important;
}

.has-color-secondary-background-color {
	background-color: $secondary !important;
}

.has-color-success-background-color {
	background-color: $success !important;
}

.has-color-info-background-color {
	background-color: $info !important;
}

.has-color-warning-background-color {
	background-color: $warning !important;
}

.has-color-danger-background-color {
	background-color: $danger !important;
}

.has-color-dark-background-color {
	background-color: $dark !important;
}

.has-color-light-background-color {
	background-color: $light !important;
}

.has-color-primary-color {
	color: $primary !important;
}

.has-color-secondary-color {
	color: $secondary !important;
}

.has-color-success-color {
	color: $success !important;
}

.has-color-info-color {
	color: $info !important;
}

.has-color-warning-color {
	color: $warning !important;
}

.has-color-danger-color {
	color: $danger !important;
}

.has-color-dark-color {
	color: $dark !important;
}

.has-color-light-color {
	color: $light !important;
}

/****************************************************************************************/
/* Client buttons */
/****************************************************************************************/
.c9 .btn,
.c9 .wp-block-button__link,
.editor-styles-wrapper .btn,
.editor-styles-wrapper .wp-block-button__link {
	text-transform: uppercase;
	font-weight: 500;
	padding: 12px 35px;
}

.footer-search-wrapper input[type="submit"] {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	background-color: $primary;
	border-radius: 0px;
}

.btn,
.editor-styles-wrapper .button,
.editor-styles-wrapper .button-primary,
.editor-styles-wrapper .mce-content-body.button,
.c9 button,
.entry-content .btn,
.entry-content .btn:visited,
.entry-content button,
.entry-content input[type="button"],
.entry-content input[type="reset"],
.entry-content input[type="submit"],
.entry-content .button,
.entry-content .wp-block-button:not(.is-style-outline) .wp-block-button__link,
.wp-block-button__link,
.wp-block-button:not(.is-style-outline) .wp-block-button__link.mce-content-body,
.wp-block-file__button,
.wp-block-file .wp-block-file__button {
	font-family: $font-family-base;
}

.c9 button:hover,
.c9 .btn:hover,
.c9 .wp-block-button__link:hover,
.editor-styles-wrapper .button:hover,
.editor-styles-wrapper .btn:hover,
.editor-styles-wrapper .mce-content-body.button:hover,
.editor-styles-wrapper .wp-block-button__link:hover {
	opacity: 0.8;
	color: #fff;
}

/* tags */
.i-tag {
	font-size: 1.6em;
	letter-spacing: 0.137em;
}

.i-tag:before {
	display: inline;
	content: "\f02b";
	font: normal normal normal 1.4rem/1 FontAwesome;
	color: $primary;
	padding-right: 4px;
}

#fullscreensearch input[type=search]:focus,
.btn:focus,
.c9 .entry-content button:focus,
.entry-content .wp-block-button:not(.is-style-outline) .wp-block-button__link:focus,
.entry-content .wp-block-button__link:focus,
.entry-content input[type=text]:focus,
.search-close:focus,
.wp-block-button__link:focus,
.wp-block-button__link:not([href]):not([tabindex]):focus,
.wp-block-file__button:focus {
	outline: 1px dotted #fff;
}

/****************************************************************************************/
/* Client fullscreen search */
/****************************************************************************************/
#fullscreensearch input[type=search]:focus,
#fullscreensearch .search-close:focus,
#fullscreensearch button[type="submit"]:focus {
	box-shadow: 1px 1px 13px rgba(0, 0, 0, .2);
}

#fullscreensearch .btn {
	margin-top: 30px;
}

#fullscreensearch .btn:focus {
	outline: dotted 1px $light;

}

#fullscreensearch input[type="search"]:focus {
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
}

/****************************************************************************************/
/* Client navbar */
/****************************************************************************************/

.header-navbar {
	z-index: 1020;
	padding: 0px;
	background-color: $light;
}

.c9 .navbar-small {
	transition: opacity 0.4s ease-in-out;
	background-color: rgba(255, 255, 255, 1);
}

.navbar-small .navbar-brand img {
	max-height: 45px;
	width: auto;
}

.nav-search,
.nav-toggle {
	display: inline-block;
	line-height: 2;
}

.header-navbar .navbar-light .navbar-nav .nav-link {
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 0.05em;
}

.header-navbar .navbar-light .navbar-toggler,
.header-navbar .navbar-light .btn-nav-search,
.header-navbar .navbar-light .navbar-nav .nav-link,
.header-navbar .dropdown-item {
	color: $link-color;
}

.header-navbar .navbar-light .navbar-toggler:focus,
.header-navbar .navbar-light .navbar-toggler:hover,
.header-navbar .nav-search .btn-nav-search:focus,
.header-navbar .nav-search .btn-nav-search:hover,
.header-navbar .navbar-light .navbar-nav .nav-link:focus,
.header-navbar .navbar-light .navbar-nav .nav-link:hover,
.header-navbar .dropdown-item:focus,
.header-navbar .dropdown-item:hover {
	color: $primary;
}

.header-navbar .dropdown-item:active {
	color: $light;
}

.navbar-toggler[aria-expanded="true"] .fa-bars:before {
	content: '\f00d';
}

.nav-search {
	margin-right: 10px;
}

/* drop downs */
.header-navbar .nav .nav-item .nav-link,
.header-navbar .nav .nav-item .dropdown-item {
	padding: 15px;
}

.header-navbar .nav .nav-item .dropdown-menu {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 0px;
	margin-top: 32px;
	border: 0px;
	-webkit-animation: fadeInFromNone 0.5s ease-out;
	animation: fadeInFromNone 0.5s ease-out;
}

.header-navbar .nav .nav-item .dropdown-menu.show {
	display: block;
	-webkit-animation: fadeInFromNone 0.5s ease-out;
	animation: fadeInFromNone 0.5s ease-out;
}

@media only screen and (min-width: 1px) {
	.header-navbar {
		height: 55px;
	}

	.navbar-collapse {
		background-color: $light;
	}

	.navbar-brand img {
		width: auto;
		max-height: 45px;
		height: auto;
	}

	#page .navbar-small-mobile {
		padding-bottom: 0px;
	}

	.navbar {
		display: block;
	}

	.navbar .container .navbar-small-buttons {
		justify-content: flex-end;
	}

	.btn-nav-search,
	.navbar-toggler {
		margin: 0px;
		padding: 12px;
	}
}

@media only screen and (min-width: 768px) {
	.header-navbar .navbar-brand.c9-custom-logo>.c9-home-logo {
		min-height: 92px;
	}

	.header-navbar {
		height: 115px;
	}

}

@media only screen and (max-width: 991px) {
	.header-navbar .nav .nav-item .dropdown-menu {
		margin-top: 0px;
		border: 1px solid transparent;
	}
}

@media only screen and (min-width: 992px) {
	.navbar-collapse {
		background-color: transparent;
	}
}

@-webkit-keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
	}

	100% {
		display: block;
		opacity: 1;
	}
}

@keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
	}

	100% {
		display: block;
		opacity: 1;
	}
}

@-webkit-keyframes slideInUp {
	from {
		transform: translate3d(0, 5px, 0);
		opacity: 0;
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes slideInUp {
	from {
		transform: translate3d(0, 5px, 0);
		opacity: 0;
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

/****************************************************************************************/
/* Client Typography */
/****************************************************************************************/

/* headings and headlines */
.c9-site-title,
.c9 .h1,
.c9 .h2,
.c9 .h3,
.c9 .h4,
.c9 .h5,
.c9 .h6,
.c9 h1,
.c9 h2,
.c9 h3,
.c9 h4,
.c9 h5,
.c9 h6,
.c9-h,
.c9-h.h,
.c9-txl,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
	font-weight: $headings-font-weight;
}

/* big text xl line height */
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
	line-height: 1.1;
}

/* body paragraphs + pullquotes */
.entry-content,
.wp-block-pullquote,
.wp-block-pullquote blockquote p,
#wrapper-footer {
	word-wrap: break-word;
}

/* subheadings */
p.wp-block-subhead,
.subhead-h,
.c9-sh,
.c9-cta .c9-sh p,
.c9-heading .text-muted {
	font-weight: 200;
}

.c9-heading .c9-sh,
.c9-heading .text-muted {
	font-weight: 200;
}

/****************************************************************************************/
/* Client page title header on logins, search, pages, posts, etc. */
/****************************************************************************************/

@media only screen and (min-width: 1px) {

	.page-template-containerwidthpage .c9 .page>.entry-header,
	.page-template-fullwidthpage .c9 .page>.entry-header {
		background-color: $primary;
	}

	.c9 .page .entry-header h1 {
		font-size: 5em;
		text-align: center;
		color: $light;
		margin: 70px auto;
		line-height: 1;
	}
}

@media only screen and (min-width: 768px) {
	.c9 .page .entry-header h1 {
		font-size: 8em;
	}
}

/****************************************************************************************/
/* Client unordered list stylings */
/****************************************************************************************/
.entry-content ul:not(.wp-block-gallery),
.entry-content ol,
.editor-styles-wrapper .editor-rich-text ol,
.editor-styles-wrapper .editor-rich-text ul:not(.blocks-gallery-grid) {
	line-height: 1.3;
}

.entry-content ol li,
.editor-styles-wrapper .editor-rich-text ol li,
.entry-content ul:not(.blocks-gallery-grid):not(.nav-tabs):not(.c9-share-list):not(.wp-block-social-links) li,
.editor-styles-wrapper .editor-rich-text ul:not(.blocks-gallery-grid):not(.nav-tabs):not(.c9-share-list) li {
	margin: 10px 0px;
}

/* horizontal rules customized*/
.entry-content .wp-block-column .wp-block-separator.is-style-wide,
.wp-block-columns .wp-block-separator.is-style-wide {
	width: 60%;
	max-width: 60%;
}

/****************************************************************************************/
/* Client Footer */
/****************************************************************************************/

#wrapper-footer-full {
	background-color: $primary;
	color: $light;
}

#wrapper-footer {
	background-color: $primary;
	color: $light;
}

#wrapper-footer-full a {
	color: $light;
}

#wrapper-footer-full a:hover {
	color: $gray-300;
}

/****************************************************************************************/
/* Client widget customizations*/
/****************************************************************************************/

/* all widgets */
.footer-widget .menu .menu-item,
.footer-widget ul li {
	font-size: 15px;
	line-height: 2;
	text-transform: capitalize;
	padding-left: 0px;
	margin: 0;
}

.footer-widget h3 {
	font-size: 2.4em;
	letter-spacing: 0.02em;
	line-height: 1.8;
	color: $light;
	font-weight: $font-weight-bold;
}

/****************************************************************************************/
/* Client Gravity Forms */
/****************************************************************************************/
.ginput_card_expiration_container select,
.ginput_card_expiration_container label {
	float: left;
}

.form-control {
	background-clip: border-box;
}

.c9 .ginput_container_creditcard label,
.c9 .ginput_card_expiration_container label {
	margin-bottom: 10px !important;
}

.ginput_card_expiration_container:after {
	content: "";
	display: block;
	clear: both;
}

.c9 .gform_wrapper .field_description_below .gfield_description {
	padding-top: 0px;
}

.gform_wrapper .gsection .gfield_label,
.gform_wrapper h2.gsection_title,
.gform_wrapper h3.gform_title {
	font-size: 2em;
}

/****************************************************************************************/
/* Client WooCommerce */
/****************************************************************************************/
.woocommerce-page .site-main {
	margin: 0px auto;
}

.woocommerce .site-main,
.woocommerce-order-overview,
.woocommerce ul.order_details li {
	font-size: 16px;
}

.theme-c9.woocommerce nav.woocommerce-pagination ul li span,
.theme-c9.woocommerce nav.woocommerce-pagination ul li .page-numbers {
	font-size: 16px;
}

.c9 .woocommerce button.button,
.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
	padding: 16px 33px;
}

.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {
	display: none;
}

.c9 .woocommerce #content table.cart td.actions .coupon,
.c9 .woocommerce table.cart td.actions .coupon,
.c9 .woocommerce-page #content table.cart td.actions .coupon,
.c9 .woocommerce-page table.cart td.actions .coupon {
	display: flex;
	align-items: center;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
	background-color: $light;
}

#add_payment_method #payment ul.payment_methods li,
.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li {
	padding: 15px 25px;
}

.woocommerce-page .col-1,
.woocommerce-page .col-2 {
	max-width: none;
}

.woocommerce-checkout .col-1,
.woocommerce-checkout .col-2 {
	padding-left: 0;
	padding-right: 0;
}

.woocommerce ul.products li.product .onsale {
	box-sizing: content-box;
}

@media only screen and (min-width: 1200px) {
	.woocommerce-page .site-main {
		max-width: 1140px;
	}
}

@media only screen and (min-width: 667px) {
	.woocommerce-page .site-main {
		padding: 0px 30px;
	}
}

@media only screen and (min-width: 1px) {
	.woocommerce-page .site-main {
		padding: 0px 15px;
	}
}

/****************************************************************************************/
/* Client Custom Blocks */
/****************************************************************************************/

/* Horizontal Tabs C9 Blocks */
@media only screen and (max-width: 667px) {
	.entry-content .nav.nav-tabs .nav-item {
		margin: 0px;
	}
}
