/****************************************************************************************/
/***************************** c9 core block edits for client custom theme
/****************************************************************************************/
@import "client_variables";

body .editor-styles-wrapper {
	font-size: 10px;
}

.editor-styles-wrapper,
.edit-post-visual-editor.editor-styles-wrapper,
.editor-styles-wrapper .c9-grid,
.editor-styles-wrapper .c9-post-grid,
.editor-styles-wrapper p,
.editor-styles-wrapper .container p,
.editor-styles-wrapper .container-narrow p,
.editor-styles-wrapper .container-fluid p,
.editor-styles-wrapper .editor-rich-text .mce-content-body p,
.editor-styles-wrapper .wp-block-paragraph,
.editor-styles-wrapper .wp-block-quote p,
.editor-styles-wrapper .wp-block-file,
.editor-styles-wrapper ul li,
.editor-styles-wrapper ol li,
.editor-styles-wrapper .wp-block-pullquote,
.editor-styles-wrapper .wp-block-pullquote blockquote p,
.block-editor-format-toolbar__link-container-value,
.block-editor-block-list__block[data-type="core/pullquote"][data-align=left] .block-editor-rich-text p,
.block-editor-block-list__block[data-type="core/pullquote"][data-align=right] .block-editor-rich-text p {
	font-family: $font-family-base;
}

.editor-styles-wrapper .editor-block-list__layout h1,
.editor-styles-wrapper h1,
.editor-styles-wrapper .h1,
.wp-block-heading h1,
.entry-header h1 {
	font-size: 4rem
}

.editor-styles-wrapper .c9-heading .h1 .text-muted,
.editor-styles-wrapper .c9-heading .h2 .text-muted,
.editor-styles-wrapper .c9-heading .h3 .text-muted,
.editor-styles-wrapper .c9-heading .h4 .text-muted,
.editor-styles-wrapper .c9-heading .h5 .text-muted,
.editor-styles-wrapper .c9-heading .h6 .text-muted {
	font-family: $headings-font-family;
}

.editor-styles-wrapper .editor-block-list__layout h2,
.editor-styles-wrapper h2,
.editor-styles-wrapper .h2,
.wp-block-heading h2 {
	font-size: 3.6rem
}

.editor-styles-wrapper .editor-block-list__layout h3,
.editor-styles-wrapper h3,
.editor-styles-wrapper .h3,
.wp-block-heading h3 {
	font-size: 3rem
}

.editor-styles-wrapper .editor-block-list__layout h4,
.editor-styles-wrapper h4,
.editor-styles-wrapper .h4,
.wp-block-heading h4 {
	font-size: 2.8rem
}

.editor-styles-wrapper .editor-block-list__layout h5,
.editor-styles-wrapper h5,
.editor-styles-wrapper .h5,
.wp-block-heading h5 {
	font-size: 2rem
}

.editor-styles-wrapper .editor-block-list__layout h6,
.editor-styles-wrapper h6,
.editor-styles-wrapper .h6,
.wp-block-heading h6 {
	font-size: 1.4rem
}

.c9-h,
.c9-h.h,
.c9-txl,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
	font-family: $headings-font-family;
	line-height: 1.1;
}

.editor-styles-wrapper .h1.c9-txl,
.editor-styles-wrapper h1.c9-txl {
	font-size: 8rem;
}

.editor-styles-wrapper .h2.c9-txl,
.editor-styles-wrapper h2.c9-txl {
	font-size: 7.3rem;
}

.editor-styles-wrapper .h3.c9-txl,
.editor-styles-wrapper h3.c9-txl {
	font-size: 6.5rem;
}

.editor-styles-wrapper .h4.c9-txl,
.editor-styles-wrapper h4.c9-txl {
	font-size: 5.8rem;
}

.editor-styles-wrapper .h5.c9-txl,
.editor-styles-wrapper h5.c9-txl {
	font-size: 5rem;
}

.editor-styles-wrapper .h6.c9-txl,
.editor-styles-wrapper h6.c9-txl {
	font-size: 4.3rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.editor-styles-wrapper .h1,
.editor-styles-wrapper .h2,
.editor-styles-wrapper .h3,
.editor-styles-wrapper .h4,
.editor-styles-wrapper .h5,
.editor-styles-wrapper .h6,
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6,
.editor-styles-wrapper .c9-heading .h1,
.editor-styles-wrapper .c9-heading .h2,
.editor-styles-wrapper .c9-heading .h3,
.editor-styles-wrapper .c9-heading .h4,
.editor-styles-wrapper .c9-heading .h5,
.editor-styles-wrapper .c9-heading .h6,
.editor-styles-wrapper .c9-heading h1,
.editor-styles-wrapper .c9-heading h2,
.editor-styles-wrapper .c9-heading h3,
.editor-styles-wrapper .c9-heading h4,
.editor-styles-wrapper .c9-heading h5,
.editor-styles-wrapper .c9-heading h6 {
	font-family: $headings-font-family;
	font-weight: $font-weight-bold;
}

.editor-styles-wrapper .c9-heading.section-heading .c9-sh {
	font-family: $subheadings-font-family;
}

/* Custom Backend Button Changes for Quick Links */
.editor-styles-wrapper .is-style-quick-links .c9-is-responsive-column .c9-column .wp-block-button {
	position: relative;
}
