/****************************************************************************************/
/* McKenzie Valve Client Specific Styling
/****************************************************************************************/
@import "client_variables";

body {
	color: $dark;
	font-family: $font-family-base;
}

.c9 .wrapper {
	margin-top: -115px;
	margin-bottom: 0px;
}

.single-post .wrapper {
	margin-top: 0px;
}

@media only screen and (min-width: 768px) {

	.blog .c9 .wrapper {
		margin-top: 30px;
	}

}

@media only screen and (max-width: 667px) {
	.single .entry-content {
		padding: 20px;
	}

	.page-search-results {
		margin-top: 135px;
	}

	.blog .site .wrapper {
		margin-top: 30px;
	}
}

/****************************************************************************************/
/* Client default colors, button colors + background colors */
/****************************************************************************************/
.has-color-white-color {
	color: $light !important;
}

.has-color-black-color {
	color: $dark !important;
}

.has-color-gray-color {
	color: $gray-900 !important;
}

.bg-primary {
	background-color: $primary;
}

.bg-secondary {
	background-color: $secondary;
}

.bg-success {
	background-color: $success;
}

.bg-info {
	background-color: $info;
}

.bg-warning {
	background-color: $warning;
}

.bg-danger {
	background-color: $danger;
}

.bg-dark {
	background-color: $dark;
}

/****************************************************************************************/
/* Client buttons */
/****************************************************************************************/
.c9 button,
.c9 .btn,
.c9 .wp-block-button__link,
.editor-styles-wrapper .btn,
.editor-styles-wrapper .wp-block-button__link {
	text-transform: uppercase;
	font-weight: 500;
	padding: 12px 35px;
}

.footer-search-wrapper input[type="submit"] {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	background-color: $primary;
	border-radius: 0px;
}

.btn,
.editor-styles-wrapper .button,
.editor-styles-wrapper .button-primary,
.editor-styles-wrapper .mce-content-body.button,
.c9 button,
.entry-content .btn,
.entry-content .btn:visited,
.entry-content button,
.entry-content input[type="button"],
.entry-content input[type="reset"],
.entry-content input[type="submit"],
.entry-content .button,
.entry-content .wp-block-button:not(.is-style-outline) .wp-block-button__link,
.wp-block-button__link,
.wp-block-button:not(.is-style-outline) .wp-block-button__link.mce-content-body,
.wp-block-file__button,
.wp-block-file .wp-block-file__button {
	font-family: $font-family-base;
}

.c9 button:hover,
.c9 .btn:hover,
.c9 .wp-block-button__link:hover,
.editor-styles-wrapper .button:hover,
.editor-styles-wrapper .btn:hover,
.editor-styles-wrapper .mce-content-body.button:hover,
.editor-styles-wrapper .wp-block-button__link:hover {
	opacity: 0.8;
	color: #fff;
}

/* default button styles */
.wp-block-button .wp-block-button__link:not(.has-text-color),
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color),
.wp-block-button__link.c9-button-shape-outline,
.c9 .gform_wrapper .gform_footer input.button,
.c9 .gform_wrapper .gform_footer input[type=submit],
.c9 .gform_wrapper .gform_page_footer input.button,
.c9 .gform_wrapper .gform_page_footer input[type=submit],
#fullscreensearch .btn {
	font-family: $subheadings-font-family;
	text-transform: uppercase;
	color: $dark;
	line-height: 2;
	font-size: 1.2em;
	letter-spacing: -0.01em;
	border: 3px solid $dark;
	background-color: $light;
	border-radius: 0px;
	padding: 6px 30px;
}

.wp-block-button.is-style-outline .wp-block-button__link.has-text-color {
	font-family: $subheadings-font-family;
	text-transform: uppercase;
	line-height: 2;
	font-size: 1.2em;
	letter-spacing: -0.01em;
	border: 3px solid;
	background-color: $light;
	border-radius: 0px;
	padding: 6px 30px;
}

/* custom button styles for MV */
.wp-block-button.is-style-btn-sm .wp-block-button__link {
	padding: 3px 12px;
	background-color: $light;
}

.wp-block-button.is-style-btn-lg .wp-block-button__link {
	padding: 6px 60px;
	background-color: $light;
}

/* arrow button styles */
.wp-block-button.is-style-dark-arrow .wp-block-button__link {
	border: 1px solid $dark;
}

.wp-block-button.is-style-white-arrow .wp-block-button__link {
	border: 1px solid $light;
}

.wp-block-button.is-style-dark-arrow .wp-block-button__link,
.wp-block-button.is-style-white-arrow .wp-block-button__link {
	background-color: transparent;
	text-indent: -9999px;
	white-space: wrap;
	overflow: hidden;
	padding: 6px 20px;
	width: 38px;
	height: 26px;
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
}

.wp-block-button.is-style-white-arrow .wp-block-button__link {
	background: transparent url(../img/arrow-white.svg) center center no-repeat;
	background-size: 18px 12px;
}

.wp-block-button.is-style-dark-arrow .wp-block-button__link {

	background: $light url(../img/arrow-dark.svg) center center no-repeat;
	background-size: 18px 12px;
}

.wp-block-button.is-style-dark-arrow .wp-block-button__link:hover,
.wp-block-button.is-style-white-arrow .wp-block-button__link:hover {
	opacity: .2;
}

/* tags */
.i-tag,
.tags-links {
	font-size: 1.2em;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	font-weight: normal;
	color: $link-hover-color;
}

.tags-links a {
	text-decoration: none;
	color: $link-color;
}

.i-tag:before,
.tags-links a:before {
	display: inline;
	content: "\f02b";
	color: $primary;
	padding-right: 4px;
}

.tags-links a:hover {
	color: $dark;
}


/****************************************************************************************/
/* Client navbar */
/****************************************************************************************/

#wrapper-navbar {
	z-index: 1020;
}

/* hide toggle arrows in dropdowns */
.c9 .dropdown-toggle:after {
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

/* default nav state */
.header-navbar .navbar {
	background-color: transparent;
}

.navbar-light:not(.navbar-small) .navbar-nav .nav-link,
.navbar-light.navbar-small .navbar-nav .nav-item .nav-link {
	color: $light;
}

/* default nav state on non-landing pages */
.header-navbar .navbar-small,
.blog .header-navbar,
.archive .header-navbar,
.single-post .header-navbar,
.error404 .header-navbar,
.search .header-navbar {
	background-color: $dark;
}

/* first level nav links */
.header-navbar .nav .nav-item>.nav-link {
	font-family: $headings-font-family;
	text-transform: none;
	font-size: 16px;
}

/*dropdown menu*/
.header-navbar .nav .nav-item .dropdown-item {
	font-family: $subheadings-font-family;
	color: $dark;
	background-color: $light;
}

.navbar {
	padding: 0px;
	background-color: $light;
}

.navbar-light .navbar-nav>.nav-item>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
	color: $light;
}

.navbar-light .navbar-nav>.nav-item>.nav-link:hover {
	color: $gray-300;
}

/* small nav and scrolled nav */
.navbar-small.navbar-light .navbar-nav>.nav-item>.nav-link,
.navbar-small.navbar-light .navbar-nav .active>.nav-link,
.navbar-small.navbar-light .navbar-nav .nav-link.active,
.navbar-small.navbar-light .navbar-nav .nav-link.show,
.navbar-small.navbar-light .navbar-nav .show>.nav-link {
	color: $light;
}

.navbar-light:not(.navbar-small) .navbar-dark,
.navbar-light.navbar-small .navbar-dark {
	display: none;
}

.header-navbar .navbar-small .navbar-brand.c9-custom-logo>.c9-home-logo {
	max-height: 55px;
	min-height: 45px;
}

.navbar-small {
	-webkit-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}

.navbar-small .navbar-brand img {
	max-height: 45px;
	width: auto;
}

.navbar-nav li a {
	text-transform: uppercase;
	line-height: 1;
	color: rgba(43, 43, 43, 0.77);
	letter-spacing: 0.05em;
}

.nav-search,
.nav-toggle {
	display: inline-block;
	line-height: 2;
}

.nav-search {
	margin-right: 10px;
}

/* drop downs */
.header-navbar .nav .nav-item .nav-link,
.header-navbar .nav .nav-item .dropdown-item {
	padding: 15px;
}

.header-navbar .nav .nav-item .dropdown-menu {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 32px;
}

@media only screen and (min-width: 1px) {
	.header-navbar {
		height: 55px;
	}

	.navbar-collapse {
		background-color: $light;
	}

	.navbar-brand img {
		width: auto;
		max-height: 45px;
		height: auto;
	}

	#page .navbar-small-mobile {
		padding-bottom: 0px;
	}

	.navbar {
		display: block;
	}

	.navbar .container .navbar-small-buttons {
		-webkit-box-pack: end;
		justify-content: flex-end;
	}

	.btn-nav-search,
	.navbar-toggler {
		margin: 0px;
		padding: 12px;
	}
}

@media only screen and (min-width: 768px) {
	.header-navbar .navbar-brand.c9-custom-logo>.c9-home-logo {
		min-height: 92px;
	}

	.header-navbar {
		height: 115px;
	}

}

@media only screen and (max-width: 991px) {
	.header-navbar .nav .nav-item .dropdown-menu {
		margin-top: 0px;
		border: 1px solid transparent;
	}
}

@media only screen and (min-width: 992px) {
	.navbar-collapse {
		background-color: transparent;
	}

	.header-navbar .navbar-nav {
		margin-left: auto;
	}
}

/****************************************************************************************/
/* C9 Theme Forms */
/****************************************************************************************/
/* C9 fullscreen search */
#fullscreensearch input[type="search"] {
	font-family: $subheadings-font-family;
}

/****************************************************************************************/
/* Client Typography */
/****************************************************************************************/

.c9-site-title,
.c9 .h1,
.c9 .h2,
.c9 .h3,
.c9 .h4,
.c9 .h5,
.c9 .h6,
.c9 h1,
.c9 h2,
.c9 h3,
.c9 h4,
.c9 h5,
.c9 h6 {
	font-family: $headings-font-family;
	font-weight: $font-weight-bold;
}

.c9-h,
.c9-h.h,
.c9-txl,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
	font-family: $headings-font-family;
	line-height: 1.1;
}


.entry-content,
.wp-block-pullquote,
.wp-block-pullquote blockquote p,
#wrapper-footer {
	word-wrap: break-word;
	font-family: $font-family-base;
}

p.wp-block-subhead,
.subhead-h,
.c9-sh,
.text-muted,
.c9 .c9-sh,
.c9 .text-muted,
.c9 .c9-heading.section-heading .c9-sh {
	font-family: $subheadings-font-family;
}

@media only screen and (min-width: 768px) {

	.entry-content .subheading2,
	.wp-block-heading .subheading2,
	.subheading2 {
		font-size: 2.3em;
	}

	.entry-content .subheading3,
	.wp-block-heading .subheading3,
	.subheading3 {
		font-size: 2em;
	}

	.entry-content .subheading4,
	.wp-block-heading .subheading4,
	.subheading4 {
		font-size: 1.6em;
	}

	.entry-content .subheading5,
	.wp-block-heading .subheading5,
	.subheading5 {
		font-size: 1.4em;
	}

	.entry-meta,
	.entry-meta a {
		text-transform: uppercase;
		letter-spacing: 0.05em;
		line-height: 1;
		color: $gray-700;
	}

}

/****************************************************************************************/
/* Client page title header on logins, search, pages, posts, etc. */
/****************************************************************************************/

@media only screen and (min-width: 1px) {

	.page-template-containerwidthpage .c9 .page>.entry-header,
	.page-template-fullwidthpage .c9 .page>.entry-header {
		background-color: $primary;
	}

	.c9 .page .entry-header h1 {
		font-size: 5em;
		text-align: center;
		color: $light;
		margin: 70px auto;
		line-height: 1;
	}
}

@media only screen and (min-width: 768px) {
	.c9 .page .entry-header h1 {
		font-size: 8em;
	}
}

/****************************************************************************************/
/* Client unordered list stylings */
/****************************************************************************************/
.entry-content ul:not(.wp-block-gallery),
.entry-content ol,
.editor-styles-wrapper .editor-rich-text ol,
.editor-styles-wrapper .editor-rich-text ul:not(.wp-block-gallery) {
	line-height: 2;
}

.entry-content ol li,
.editor-styles-wrapper .editor-rich-text ol li,
.entry-content ul:not(.wp-block-gallery):not(.nav-tabs):not(.c9-share-list) li,
.editor-styles-wrapper .editor-rich-text ul:not(.wp-block-gallery):not(.nav-tabs):not(.c9-share-list) li {
	margin: 6px 0px;
}

/* horizontal rules customized*/
.entry-content .wp-block-column .wp-block-separator.is-style-wide,
.wp-block-columns .wp-block-separator.is-style-wide {
	width: 60%;
	max-width: 60%;
}

/****************************************************************************************/
/* Client Footer */
/****************************************************************************************/

#wrapper-footer-full {
	background-color: $light;
	color: $dark;
}

#wrapper-footer {
	background-color: $light;
	color: $dark;
}

#wrapper-footer-full a {
	color: $dark;
	text-decoration: none;
	font-weight: 100;
}

#wrapper-footer-full a:hover {
	color: $gray-300;
}

.footer-entirety {
	position: relative;
}

.copyright,
.copyright a,
.footer-entirety .copyright,
#wrapper-footer .site-footer .footer-social-wrapper a {
	color: $gray-600;
}

@media only screen and (min-width: 1px) {
	.footer-entirety:after {
		position: absolute;
		bottom: 90px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		content: '';
		min-height: 77px;
		width: 280px;
		background: transparent url(/wp-content/uploads/2020/02/mckenzie-valve-logo-dark.svg) center center no-repeat;
		background-size: contain;
		z-index: 96;
	}
}

@media only screen and (min-width: 768px) {
	.footer-entirety:after {
		bottom: 20px;
	}
}


/****************************************************************************************/
/* Client widget customizations*/
/****************************************************************************************/

/* all widgets */
.footer-widget .menu .menu-item,
.footer-widget ul li {
	font-size: 1.5em;
	line-height: 2;
	text-transform: capitalize;
	padding-left: 0px;
	margin: 0;
}

.footer-widget h3 {
	font-size: 2.2em;
	letter-spacing: 0.01em;
	line-height: 1.8;
	font-family: 'work-sans-medium', sans-serif;
	font-weight: 600;
}

/****************************************************************************************/
/* Client Gravity Forms */
/****************************************************************************************/
.ginput_card_expiration_container select,
.ginput_card_expiration_container label {
	float: left;
}

.c9 .ginput_container_creditcard label,
.c9 .ginput_card_expiration_container label {
	margin-bottom: 10px !important;
}

.ginput_card_expiration_container:after {
	content: "";
	display: block;
	clear: both;
}

.c9 .gform_wrapper .field_description_below .gfield_description {
	padding-top: 0px;
}

.gform_wrapper .gsection .gfield_label,
.gform_wrapper h2.gsection_title,
.gform_wrapper h3.gform_title {
	font-size: 2em;
}

/****************************************************************************************/
/* Client Custom Blocks */
/****************************************************************************************/

/* paragraphs */
.is-style-light-font {
	font-weight: 100;
}

/* boxed news grid on home */
.is-style-boxed-news.c9-block-post-grid h2 {
	color: $light;
	margin-bottom: 50px;
	font-size: 5em;
}

.is-style-boxed-news .c9-block-post-grid-text {
	border: 1px solid #979797;
	background-color: #D8D8D8;
	padding: 25px 15px;
	min-height: 260px;
}

.is-style-boxed-news.c9-block-post-grid .c9-block-post-grid-byline {
	color: $dark;
	font-size: 16px;
	font-family: $subheadings-font-family;
}

.is-style-boxed-news.c9-block-post-grid header .c9-block-post-grid-title {
	margin-bottom: 12px;
}

.is-style-boxed-news .c9-block-post-grid-more-link {
	font-weight: 300;
}

.is-style-boxed-news .c9-block-post-grid-more-link:hover {
	color: $secondary;
}

.is-style-boxed-news .c9-block-post-grid-excerpt {
	margin-bottom: 0px;
}


/* column container on home */


@media only screen and (min-width: 1px) {
	.is-style-quick-links .c9-is-responsive-column .c9-column {
		position: relative;
		width: 100%;
		min-height: 235px;
		padding: 15px;
		font-weight: 200;
	}
}

@media only screen and (min-width: 992px) {
	.is-style-quick-links .c9-is-responsive-column .c9-column {
		height: 235px;
		width: 235px;
	}
}

.is-style-quick-links .c9-is-responsive-column .c9-column .wp-block-button {
	position: absolute;
	bottom: 15px;
}

.editor-styles-wrapper .is-style-quick-links .c9-is-responsive-column .c9-column .wp-block-button {
	position: relative;
}

.is-style-quick-links .c9-is-responsive-column .c9-column.col-products,
.is-style-quick-links .c9-is-responsive-column .c9-column.col-repair,
.is-style-quick-links .c9-is-responsive-column .c9-column.col-certifications {
	color: $light;
}

.is-style-quick-links .c9-is-responsive-column .c9-column.col-products,
.is-style-quick-links .c9-is-responsive-column .c9-column.col-certifications {
	background-color: #757575;
}

.is-style-quick-links .c9-is-responsive-column .c9-column.col-repair {
	background: $dark url(/wp-content/uploads/2020/02/repair-instructions-bg-optim.jpg) center center no-repeat;
	background-size: cover;
}

.is-style-quick-links .c9-is-responsive-column .c9-column.col-aar {
	background-color: $light;
}

/****************************************************************************************/
/* Client WooCommerce */
/****************************************************************************************/
.woocommerce-page .site-main {
	margin: 0px auto;
}

.woocommerce .site-main {
	font-size: 16px;
}

.theme-c9.woocommerce nav.woocommerce-pagination ul li span,
.theme-c9.woocommerce nav.woocommerce-pagination ul li .page-numbers {
	font-size: 16px;
}

.woocommerce ul.products li.product .onsale {
	box-sizing: content-box;
}

@media only screen and (min-width: 1200px) {
	.woocommerce-page .site-main {
		max-width: 1140px;
	}
}

@media only screen and (min-width: 667px) {
	.woocommerce-page .site-main {
		padding: 0px 30px;
	}
}

@media only screen and (min-width: 1px) {
	.woocommerce-page .site-main {
		padding: 0px 15px;
	}
}

.c9 .entry-content p.is-style-input-serif,
.editor-styles-wrapper .block-editor-block-list__layout p.is-style-input-serif {
	font-family: $subheadings-font-family;
	font-size: 1.5em;
	letter-spacing: -0.01em;
	line-height: 1.625;
	font-weight: 300;
}
